<!DOCTYPE html>
<html lang="cs">
  <head>
    <base href="{base}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Zde se můžete v našem katalogu podívat na náš sortiment knih, které právě nabízíme. Je velký výběr mezi různými autory.">
    <title>{title}</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/x-icon" href="fav.ico">
  </head>

  <body>
    <header>
      <h1>KnihyPešek</h1>
      <nav>{nav}</nav>
    </header>
    <main>{content}</main>
  </body>
</html>
